
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: rgba(17, 153, 142, 1);
  --secondary:rgba(56, 239, 125, 1);
  --textColor:rgba(183, 253, 210, 1);
  --bgColor:rgb(0, 0, 0);
  --containerBgColor:rgb(12, 12, 12);
  --elementBgColor:rgb(36, 36, 36);
  --inputTextColor:white;
  font-family: poppins;
  color: #B2FEFA; 
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bgColor);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%); */
  background: linear-gradient(45deg,#117e4b, #000000, #18d19a, #000000, #32f17b, #000000);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
input[type='text']{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  /* box-shadow: 0 0 10px var(--primary); */
  transition: all 0.5s;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 15px;
  color: var(--inputTextColor);
  background-color: var(--elementBgColor);
}
input[type='text']:focus {
  box-shadow: 0 0 10px var(--secondary);
  color: var(--inputTextColor);
  letter-spacing:2px;
  /* color: var(--elementBgColor); */
  
}
input[type='text']::placeholder {
  text-transform: uppercase;
  color: var(--textColor);
    font-size: 12px;
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/* =========TODO HEAD ========= */
.toDoHead,.toDoList{
  height: 80vh;
  border-radius: 20px;
  /* box-shadow: 0px 0px 15px var(--primary); */
  background-color: var(--containerBgColor);
}
.toDoHead{
  width: 20vw;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  position: relative;
  /* background-color: #fff; */
}

.toDoHead:hover{
  box-shadow: 0 0 10px var(--secondary);
  
}
.y2doTitle{
  /* height: 80%; */
  font-size: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .newTaskInput{
} */


.addButton {
  /* position: absolute; */
  height: 50px;
  width:100% ;
  margin-top: 20px;
  padding: 10px 30px;
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
  /* transition: 0.5s; */
  color: var(--containerBgColor);
  font-size: 20px;
  border: none;
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer;
}

.addButton:hover {
  color: var(--secondary);
  background-color: var(--containerBgColor);
  background-image: none;
  border: 2px solid var(--secondary);
  size: 80px;
}
.toDoFooter {
  /* text-align: center; */
  font-size: 10px;
  color: var(--textColor);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0px;
  /* background-color: aliceblue; */
}

/* .addButton:hover {
  background-color: rgb(0, 143, 98);
  margin: 0 10px;
} */


/* =======TO DO LIST======= */
.toDoList {
  width: 700px;
  /* position: relative; */
  position: relative;
  padding-bottom: 30px;
  font-family: poppins;
  text-align: center;
  overflow-y: auto;
}
.toDoList::-webkit-scrollbar {
  display: none; 
}
.searchContainer {
  width:inherit;
  position: fixed;
  display: flex;
  padding: 30px;
  gap: 30px;
  backdrop-filter: blur(20px);
  border-radius: 20px 20px 0 0;
  /* background-color: var(--bgColor);
  background-color: var(--secondary); */
  /* background-image: linear-gradient (to top, rgba(0,0,0,0),rgb(0,0,0)); */
}
.searchContainer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--containerBgColor);
  opacity: 0.8;
  z-index: -1;
  border-radius: 20px;
}
select{
  /* padding: 10px; */
  text-align: center;
  border-radius: 50px;
  outline: none;
  border: none;
  color: var(--textColor); 
  background-color: var(--elementBgColor);
  cursor: pointer;
}
.olContainer{
  height: 95%;
  padding: 100px 30px 30px 30px;
  /* max-height: calc(100vh - 60px); */
  margin-bottom: 30px;
}
ol li {
  list-style: none;
  margin: 10px 0;
  padding: 5px ;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  transition: all 0.3s;
}
ol li:hover{
  background-color: var(--elementBgColor);
  gap: 10px;
}
ol #text {
  max-width: 400px;
  padding: 5px 20px;
  word-wrap: break-word;
  /* flex: 1; */
  background-color: var(--primary);
  border-radius: 50px;
  color: var(--containerBgColor);
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
  cursor: pointer;
}
.listButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.listbuttonDisabled{
  opacity: 0.5;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.listButton:hover,.listButtonDisabled:hover{
  /* padding: ; */
}
#saveEditButton{
  margin-right: 10px;
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
}
#editButton,#deleteButton,#moveUpButton,#moveDownButton{
  /* color: var(--inputTextColor); */
  background-color: var(--textColor);
}
.textCompletedTrue{
  text-decoration: line-through;
  color: var(--textColor);
  opacity: 0.5;
}
.textCompletedFalse{
  text-decoration: none;
}
.notificationContainer{
  width: inherit;
  padding: 5px;
  font-size: 10px;
  color: var(--textColor);
  text-transform: uppercase;
  position: fixed;
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 20px 20px;
  /* border: 2px solid green; */
  /* letter-spacing: 2px; */
  /* position: fixed; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  /* bottom: 0px; */
}
.notificationContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--containerBgColor);
  opacity: 0.8;
  z-index: -1;
  border-radius: 20px;
}
.undoDeletedTask{
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* bottom: 0px; */
  /* position: absolute; */
  /* text-align: center; */
  font-size: 10px;
  color: var(--textColor);
  text-transform: uppercase;

}
.undoDeletedTask span{
  color: var(--inputTextColor);
  font-weight: 500;
}
.undoDeletedTask button{
  padding: 2px 5px;
  color: var(--elementBgColor);
  font-weight: bold;
  background-color: var(--secondary);
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/* #editButtonActive{
  color: #18d19a;
}
#editButtonDisables{
  color: red;
}
#deleteButton:hover {
  background-color: rgb(143, 21, 0);
}

#moveUpButton:hover {
  background-color: rgb(3, 147, 205);
}

#moveDownButton:hover {
  background-color: rgb(3, 147, 205);
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */