
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: rgba(17, 153, 142, 1);
  --secondary:rgba(56, 239, 125, 1);
  --textColor:rgba(183, 253, 210, 1);
  --bgColor:rgb(0, 0, 0);
  --containerBgColor:rgb(12, 12, 12);
  --elementBgColor:rgb(36, 36, 36);
  --inputTextColor:white;
  font-family: poppins;
  color: #B2FEFA; 
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bgColor);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%); */
  /* background: linear-gradient(45deg,#000000,#0ab179,#020000, #18d19a, #000000,
    #001f0d, #03e788, #000000); */
    background: linear-gradient(30deg,#000,#001d0e,#01f081,#000 ,#02f7ad ,#002412,#000);
    /* background-color: #08ea6d; */
      /* background-image: linear-gradient(0deg, #08ea6d 0%, #2af5be 100%); */
  background-size: 900% 900%;
  animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
input[type='text']{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  /* box-shadow: 0 0 10px var(--primary); */
  transition: all 0.5s;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 15px;
  color: var(--inputTextColor);
  background-color: var(--elementBgColor);
}
input[type='text']:focus {
  box-shadow: 0 0 10px var(--secondary);
  color: var(--inputTextColor);
  letter-spacing:2px;
  /* color: var(--elementBgColor); */
  
}
input[type='text']::placeholder {
  text-transform: uppercase;
  color: var(--textColor);
    font-size: 12px;
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:5vw
}
/* =========TODO HEAD ========= */
.toDoHead,.toDoList{
  height: 80vh;
  border-radius: 20px;
  /* box-shadow: 0px 0px 15px var(--primary); */
  background-color: var(--containerBgColor);
}
.toDoHead{
  width: 20vw;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  position: relative;
  /* background-color: #fff; */
}

.toDoHead:hover{
  box-shadow: 0 0 10px var(--secondary);
  
}
.y2doTitle{
  /* height: 80%; */
  font-size: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.addButton {
  /* position: absolute; */
  height: 50px;
  width:100% ;
  margin-top: 20px;
  padding: 10px 30px;
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
  /* transition: 0.5s; */
  color: var(--containerBgColor);
  font-size: 20px;
  border: none;
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer;
}

.addButton:hover {
  color: var(--secondary);
  background-color: var(--containerBgColor);
  background-image: none;
  border: 2px solid var(--secondary);
  size: 80px;
}
.toDoFooter a{
  /* text-align: center; */
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  color: var(--textColor);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0px;
  /* background-color: aliceblue; */
}

/* .addButton:hover {
  background-color: rgb(0, 143, 98);
  margin: 0 10px;
} */


/* =======TO DO LIST======= */
.toDoList {
  width: 50vw;
  max-width: 700px;
  /* position: relative; */
  position: relative;
  padding-bottom: 30px;
  font-family: poppins;
  text-align: center;
  overflow-y: auto;
}
.toDoList::-webkit-scrollbar {
  display: none; 
}
.searchContainer {
  width:inherit;
  position: fixed;
  display: flex;
  padding: 30px;
  gap: 30px;
  border-radius: 20px 20px 0 0;
  backdrop-filter: blur(20px);
  z-index: 1;
  /* background-image: linear-gradient (to top, rgba(0,0,0,0),rgb(0,0,0)); */
}
.searchContainer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--containerBgColor);
  opacity: 0.8;
  border-radius: 20px;
  z-index: -1;
}
select{
  /* width:100px; */
  padding:10px 30px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  border: none;
  color: var(--textColor); 
  background-color: var(--elementBgColor);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%204%205'%3E%3Cpath%20fill%3D'%2311998e'%20d%3D'M2%200L4%202H0L2%200z'%2F%3E%3C/svg%3E");
    /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px;
}
select:focus{
  box-shadow: 0 0 10px var(--secondary);
}
select option{
  color: var(--textColor);
  background-color: var(--elementBgColor);
  border-radius: 50px;
  /* text-align: center; */
  display: flex;
}
select  option li{
  background-color: #117e4b;
  color: aqua;
}

/* ========ol container=========== */
.emptyContainer{
  text-transform: uppercase;
  letter-spacing: 2px;
  gap: 10px;
  /* position: relative; */
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.emptyContainer img{
  /* position: absolute; */
  margin-top: 80px;
  width: 100px;
  height: 100px;
  transition: all 0.3s;
  /* top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%); */
}
.emptyContainer img:hover{
  rotate: 5deg;
}
.emptyHeading{
  font-weight: 500px;
  /* padding-top: 150px; */
}
.emptyHeading span{
  font-weight: 900;
}
.olContainer{
  height: 95%;
  padding: 100px 30px 30px 30px;
  /* max-height: calc(100vh - 60px); */
  margin-bottom: 40px;
}
ol li {
  list-style: none;
  margin: 10px 0;
  padding: 5px ;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  transition: all 0.3s;
  /* word-wrap: break-word; */
}
ol li:hover{
  background-color: var(--elementBgColor);
  gap: 10px;
}
ol #text {
  max-width: 500px;
  padding: 5px 20px;
  /* flex: 1; */
  /* background-color: var(--primary); */
  border-radius: 50px;
  color: var(--containerBgColor);
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
  cursor: pointer;
  white-space: nowrap;
  /* position: relative; */
}
.listButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.listbuttonDisabled{
  opacity: 0.5;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#saveEditButton{
  margin-right: 10px;
  background-image: linear-gradient(to right top, var(--primary), var(--secondary));
}
#editButton,#deleteButton,#moveUpButton,#moveDownButton{
  /* color: var(--inputTextColor); */
  background-color: var(--textColor);
}
.textCompletedTrue{
  text-decoration: line-through;
  color: var(--textColor);
  opacity: 0.5;
}
.textCompletedFalse{
  text-decoration: none;
}
.notificationContainer{
  width: inherit;
  padding: 5px;
  font-size: 10px;
  color: var(--textColor);
  text-transform: uppercase;
  position: fixed;
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 20px 20px;
  /* border: 2px solid green; */
  /* letter-spacing: 2px; */
  /* position: fixed; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  /* bottom: 0px; */
}
.notificationContainer::before {
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 20px 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--containerBgColor);
  opacity: 0.8;
  z-index: -1;
}
.undoDeletedTask{
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* bottom: 0px; */
  /* position: absolute; */
  /* text-align: center; */
  font-size: 10px;
  color: var(--textColor);
  text-transform: uppercase;

}
.undoDeletedTask span{
  color: var(--inputTextColor);
  font-weight: 500;
}
.undoDeletedTask button{
  padding: 2px 5px;
  color: var(--elementBgColor);
  font-weight: bold;
  background-color: var(--secondary);
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

 @media(max-width:500px) {
   .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    
   }
   .toDoHead{
    width: 80vw;
    height: 30vh;
    /* margin-top: 10vh; */
    padding: 5vw;
    margin: 0;
  }
  .newTaskInputContainer{
    display: flex;
     flex-direction: row;
   }
   .addButton, input{
    padding: 0%;
    margin: 1vw;
    width: 20vw;
   }
   .toDoList{
    width: 80vw;
    height: 60vh;
    padding: 0;
    position: relative;
    /* overflow-y: auto; */
   }
   .searchContainer {
    width:inherit;
    position: fixed;
    border-radius: 20px;
   }
    .toDoList select, .toDoList input{
      height: 5vh;
      margin: 0px;
      /* padding: 0; */
      /* margin-bottom: 3vh; */
    }
    .olContainer{
      padding:12vh 1vw;
      scale: 90%;
    }
    ol li{
      gap: 1.5vw;
    }
    ol li:hover{
      gap: 1vw;
    }
    ol #text {
      max-width: 200px;
    }
    .listButton{
      padding: 10px 15px
    }
    .notificationContainer {
      bottom: 10px;
      position: fixed;
      backdrop-filter: blur(20px);
      border-radius: 0px 0px 20px 20px;
    }
 }
 @media(min-width:501px)and(max-width:730px) {
  .y2doTitle{
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-bottom: 20px;
    text-align: center;
  }
  .toDoHead button{
    margin-bottom: 5vh;
  }
}